.result-container {  
  width: 1251px;
  height: 300px;
  margin-top: 54px;
  margin-left: 90px;
  margin-right: 99px;
  padding-left: 40px;
  padding: 30px, 40px, 30px, 40px;
  background-color: #F5F5F5;
  ;
  border-radius: 8px; 
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  
}

.img-container {
  width: 250px;
  height: 250px;
}

.img-container img {
  width: 80%;
  height: 80%;
}

.result-title {
  color: #515151;
  font-size: 17px;
  font-weight: bold;
  padding-right: 650px;
}

.result-description {
  color: #515151;
  font-size: 17px;
  padding-right: 450px;
  margin-bottom: 15px;
  height: 0;
}
